<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bot Chat Embed Test</title>
        <link href="botchat.css" rel="stylesheet" />
    </head>
    <body>
        <div>
            <div id="BotChatGoesHere"/>
            <div style="clear:both;"/>
        </div>
        <script src="botchat.js"></script>
        <script>
            BotChat.App({
                directLine: {
                    token: "<%= token %>"
                },
                user: { id: 'botchattest' },
                bot: { id: 'aura' },
            }, document.getElementById("BotChatGoesHere"));
        </script>
    </body>
</html>