<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Bot Chat Embed Test</title>
        <link href="botchat.css" rel="stylesheet" />
    </head>
    <body>
        <div>
            <div id="BotChatGoesHere"/>
            <div style="clear:both;"/>
        </div>

hello world!!
<p id="demo"></p>
Bye world!!
                        
        <script src="botchat.js"></script>
        <script>
            var now = new Date();

            // display offline page, all the time
            // EXCEPT display BOT in 9pm-10pm in April 2017
            if((now.getFullYear()==2017) && ((now.getMonth()+1)==4) ){ // for April 2017
                if(now.getHours()!=21) {         //WHITELIST 9pm-10pm (21:xx hour) for chatbot
//                    window.location.replace("offline.html");
                }
            }
            // else, launch Chatbot
            BotChat.App({
                directLine: {
                    token: "<%= token %>"
                },
                user: { id: 'botchattest' },
                bot: { id: 'aura' },
            }, document.getElementById("BotChatGoesHere"));
        </script>
    </body>
</html>